// Sobreescribe variables de Bootstrap si es necesario
$primary: #274ecef1; // Ejemplo: Cambia el color primario
$secondary: #3a3737;
$success: #10a736dc;
$info: #274ecef1;
$warning: #e4e015dc;
$danger: #e41616e0;
$light: #f8f9fa;
$dark: #212529;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);




// Iconos
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

// Importa Bootstrap
// @import '../../public/assets/vendor/bootstrap/css/bootstrap.css';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';